<div class="row container">
  <% @note.companies.order("name ASC").each do |company| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 isotope-item">
      <div class="panel panel-default">
        <div class="panel-heading" >
          <h3 class="panel-title" style="font-size:12px"><a href="/companies/<%=company.id %>"><%= company.name %></a>
          </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>