<div class="ui-widget">
  <form action="/create_mp_sponsor/" method="post" class="form-inline">

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <select name="sponsor_id" data-placeholder="Add Sponsors..." class="select2 form-control form-inline"  tabindex="2" style="width:75%">
      <% Sponsor.where(id: (Sponsor.ids - MpSponsor.where(mp_id: @mp.id).pluck(:sponsor_id)).uniq).order("name asc").each do |sponsor| %>
      <option value="<%=sponsor.id %>"><%= sponsor.name %></option>
      <% end %>
    </select>

    <input name="mp_id" type="hidden" value="<%= mp.id%>">

    <button class="btn btn-success btn-xs ">
      Enter
    </button>

  </form>
</div>

<script type="text/javascript">
$(function() {
    $('.select2').select2();
});
</script>