<div class="page-header">
  <h1>
    LOIs
    <a href="/lois/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search LOIs (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @lois.order("loi_date DESC").each do |loi| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/lois/<%= loi.id %>">
            <%= loi.name %></a></h3>
      </div>
      <% if loi.loi_date.nil? | loi.loi_date == "" %>      
      <div class="panel-body">
        <dl>
          <dt></dt>
          <dd><%= loi.loi_date %></dd>
        </dl>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<%= render('shared/quick_search_js') %>