<div class="ui-widget">
  <form action="/create_teaser_sponsor/" method="post" class="form-inline">

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <select name="sponsor_id" data-placeholder="Add Sponsors..." class="select2 form-control "  tabindex="2" style="width:75%">
        <% Sponsor.where(id: (Sponsor.ids - TeaserSponsor.where(teaser_id: @teaser.id).pluck(:sponsor_id)).uniq).order("name asc").each do |sponsor| %>
        <option value="<%=sponsor.id %>"><%=sponsor.name %></option>
        <% end %>
      </select>
    <input name="teaser_id" type="hidden" value="<%= teaser.id%>">
    <button class="btn btn-success btn-xs">
      Enter
    </button>

  </form>
</div>

<script type="text/javascript">
$(function() {
  
      $('.select2').select2();
});
</script>