<div class="ui-widget">
  <form action="/create_teaser_company/" method="post" class="form-inline">

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <!-- js-switch elements for formatting -->
    <div>
      <input type="hidden" class="js-switch" />
      <input type="hidden" class="js-switch_2" />
      <input type="hidden" class="js-switch_3"  />
      <input type="hidden" class="js-switch_4"  />
    </div>
    <select name="company_id" data-placeholder="Add Companies..." class="select2 form-control form-inline"  tabindex="2" style="width:200px">
        <% Company.where(id: (Company.ids - TeaserCompany.where(teaser_id: @teaser.id).pluck(:company_id)).uniq).order("name asc").each do |company| %>
        <option value="<%=company.id %>"><%=company.name %></option>
        <% end %>
      </select>
    <input name="teaser_id" type="hidden" value="<%= teaser.id%>">
    <button class="btn btn-success btn-xs">
      Enter
    </button>

  </form>
</div>

<script type="text/javascript">
  $(function() {
    
      $('.select2').select2();
  });
</script>