
<!-- Button trigger modal -->
<div class="btn btn-lincoln" data-toggle="modal" data-target="#myModalCreateCompanyNote">
  Add Company to Note
</div>

<!-- Modal -->
<div class="modal fade" id="myModalCreateCompanyNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Company to Note</h4>
      </div>
      <div class="modal-body">



<!-- Validation failure messages -->

<% if @company_note.blank?%>
  <% @company_note = CompanyNote.new %>
<% end %>
<% if @company_note.errors.any? %>
  <% @company_note.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <form enctype="multipart/form-data" action="/create_company_note" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for Company -->

            <div class="form-group">
              <h5><label for="company_id" class="col-sm-2 control-label">
                Company
              </label></h5>
              <div class="col-sm-10">
                <%= select_tag :company_id, options_from_collection_for_select(Company.all.order("name ASC"), :id, :name), :class => "form-control" %>
              </div>
            </div>

          <input name="note_id" type="hidden" value="<%= @note.id %>">

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-lincoln">
                Add Company to Note
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
