
<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModalCreateTag">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lg btn-lincoln" data-toggle="modal" data-target="#myModalCreateTag">
    Create Tag
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModalCreateTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Tag</h4>
      </div>
      <div class="modal-body">


<!-- Validation failure messages -->
<% if @tag.blank?%>
  <% @tag = Tag.new %>
<% end %>
<% if @tag.errors.any? %>
  <% @tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->
<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form enctype="multipart/form-data" action="/create_tag" method="post" class="form-horizontal">


          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Name -->
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="" class="form-control" value="<%= @tag.name %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-lincoln">
                Add Tag
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
