
<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModalCreateNBP">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lincoln" data-toggle="modal" data-target="#myModalCreateNBP">
    New NBP Document
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModalCreateNBP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create NBP Content</h4>
      </div>
      <div class="modal-body">


<!-- Validation failure messages -->

<% if @nbp.blank?%>
  <% @nbp = Nbp.new %>
<% end %>
<% if @nbp.errors.any? %>
  <% @nbp.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add NBP Content</h3>
      </div>
      <div class="panel-body">

        <form enctype="multipart/form-data" action="/create_nbp" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <input type="hidden" name="deal_id">

          <!-- Label and input for name -->
          <div class="form-group">
            <h5><label for="name" class="col-sm-2 control-label">
              NBP Dcoument Title
            </label></h5>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Sponsor Name / Company Name (Year) NBP" class="form-control">
            </div>
          </div>
          <!-- Label and input for NBP Date -->
          <div class="form-group">
            <h5><label for="nbp_date" class="col-sm-2 control-label">
              NBP Date
            </label></h5>
            <div class="col-sm-10">
              <input type="date" id="nbp_date" name="nbp_date" placeholder="e.g., 09/09/2017" class="form-control">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-lincoln">
                Create NBP Content
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
