
<!-- Button trigger modal -->
<% if @text.present? %>
  <div class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModalCreateTag">
    <i class="fa fa-plus"></i>
  </div>
<% else %>
  <div class="btn btn-lg btn-lincoln" data-toggle="modal" data-target="#myModalCreateTag">
    Create Tag
  </div>
<% end %>

<div class="modal inmodal fade" id="myModalCreateTag" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form enctype="multipart/form-data" action="/create_tag/" method="post" class="form-horizontal">
            <div class="modal-header">
              <h4 class="modal-title">Create Tag</h4>
                <small class="font-bold">Add a new searchable tag for slides</small>
            </div>
            <div class="modal-body">


          <!-- Validation failure messages -->
          <% if @tag.blank?%>
            <% @tag = Tag.new %>
          <% end %>
          <% if @tag.errors.any? %>
            <% @tag.errors.full_messages.each do |message| %>
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= message %>
              </div>
            <% end %>
          <% end %>


          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Name -->
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="" class="form-control" value="<%= @tag.name %>">
            </div>
          </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button class="btn btn-lincoln">
                      Add Tag
                    </button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
      </form>
    </div>
</div>