
<div class="row container">
<% @nbp_buyers.each do |nbp| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading" >
        <h3 class="panel-title" style="font-size:12px"><a href="/nbps/<%=nbp.id %>/companies"><%= nbp.name %></a></h3>
      </div>
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-12">
           <ul style="font-size:10px" >

              <il><strong>NBP Date:</strong></il>
              <il> <%= nbp.nbp_date%></il><br>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>