<div class="pull-right" style="margin-right: 50px">
  <div class="btn-group-horizontal">
    <h1>
      <a href="/models.xlsx" class="btn btn-success" >
        Download Database
      </a>
    </h1>
  </div>
</div>
<div class="page-header">
  <h1>
    Export / Import Dashboard
  </h1>
</div>


<div class="ibox-content">
  <table class="table table-hover dataTables-models">
    <thead>
      <tr>
          <th width="50%">Table</th>
          <th width="12%" style="text-align: center">Table Entries</th>
          <th width="12%">Row #</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <% ActiveRecord::Base.connection.tables.sort_by!{ |m| m}.each do |table| %>
        <% if table == "ar_internal_metadata" || table == "schema_migrations" %>
          <% next %>
        <% else %>
          <tr>
            <td><a href="/<%=table %>"><%= table %></a></td>
            <td style="text-align: center"></td>
            <td style="text-align: center"></td>
            <td><%= render('shared/file_download_upload', path: "#{table}") %></td>
          </tr>
        <% end %>
      <%end%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(function() {
    $('.dataTables-models').DataTable({
        pageLength: 100,
        responsive: true,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'ExampleFile'},
            {extend: 'pdf', title: 'ExampleFile'},

            {extend: 'print',
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            }
        ]
    });
});
</script>