<div class="ui-widget">
  <form action="/create_cip_sponsor/<%= cip.id%>" method="post" class="form-inline">

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="text" id="sponsors" placeholder="Add Sponsors" name="name" style="width: 200px">

    <button class="btn btn-success btn-xs ">
      Enter
    </button>

  </form>
</div>

<script>
  $('#sponsors').autocomplete({
      source: '/sponsor_query.json',
    });
</script>