<div class="ui-widget">
  <form action="/create_cip_company/<%= cip.id%>" method="post" class="form-inline">

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input type="text" id="companies" placeholder="Add Companies" name="name" style="width: 200px">

    <button class="btn btn-success btn-xs ">
      Enter
    </button>

  </form>
</div>

<script>
  $('#companies').autocomplete({
      source: '/company_query.json',
    });
</script>