<!-- Validation failure messages -->

<% if @highlight.errors.any? %>
  <% @highlight.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Highlight</h3>
      </div>
      <div class="panel-body">
        <form action="/create_highlight" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


          <!-- Label and input for Name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Highlight Name
            </label>
            <div class="col-sm-10">
              <input type="string" id="name" name="name" placeholder="e.g., Basis of Valuation" class="form-control" value="<%= @highlight.name %>">
            </div>
          </div>

          <!-- Label and input for IOI -->
          <div class="form-group">
            <label for="ioi_include" class="col-sm-2 control-label">
              Include for IOIs
            </label>
            <div class="col-sm-10">
              <% if @highlight.ioi_include %>
                <input type="checkbox" id="ioi_include" name="ioi_include" class="form-control" checked>
              <% else %>
                <input type="checkbox" id="ioi_include" name="ioi_include" class="form-control">
              <% end %>
            </div>
          </div>

          <!-- Label and input for LOI -->
          <div class="form-group">
            <label for="loi_include" class="col-sm-2 control-label">
              Include for LOIs
            </label>
            <div class="col-sm-10">
              <% if @highlight.loi_include %>
                <input type="checkbox" id="loi_include" name="loi_include" class="form-control" checked>
              <% else %>
                <input type="checkbox" id="loi_include" name="loi_include" class="form-control">
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Highlight
              </button>
              or
              <a href="/highlights">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
