<div class="footer">
    <div class="pull-right">
        Version - <%= d = DateTime.now
		d.strftime( "%B %d, %Y")%>
    </div>
    <div>
        <strong>Copyright</strong> Glicken, LLC &copy; 2018
    </div>
</div>
